.modal {
   display: flex;
   /*will be flex when shown*/
   position: fixed;
   /* Stay in place */
   color: black;
   z-index: 1;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgba(0, 0, 0, 0.5);
   /* Black w/ opacity */
}

/*styling for the actual modal that will hold songs */
.modal-content {
   color: white;
   position: relative;
   background-color: #4681af;
   box-shadow: 10px 10px 3px black;
   border-radius: 10px;
   margin: auto;
   /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   max-width: 400px;
   width: 100%;
   animation: dropFromTop 0.7s ease-in-out;
   /* Could be more or less, depending on screen size */
}

.modal-content button {
   transition: all 0.3s ease-in-out;
}

.modal-content button:hover {
   transform: scale(1.1);
}

@keyframes dropFromTop {
   0% {
      transform: scale(0);
      top: -500px;
      height: 0%;
   }

   25% {
      transform: scale(1);
      top: 0px;
      height: 0%;
   }

   50% {
      height: 50%;
   }

   75% {
      transform: scale(1.15);
   }

   100% {
      height: calc-size(auto);
      transform: scale(1);
   }
}

.recipientOption {
   width: 80%;
   margin-left: 10%;
   border-radius: 15px;
   border: 2px solid white;
   margin-bottom: 10px;
   padding: 5px;
   text-align: left;
}